.topics__list, .news__list {
    padding-bottom: 1.25rem;
}

.topics__title, .news__title {
    font-family: var(--title-font);
    padding-bottom: .75rem;
    padding-left: 1.25rem;
    position: relative;
}

.topics__title:after, .news__title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: .75rem;
    width: 100%;
    background: linear-gradient(to right, lightgray, rgba(0, 0, 0, 0));;
}

.topics__item, .news__item {
    white-space: nowrap;
    list-style-type: none;
    padding: var(--main-padding);
    font-size: .8rem;
    font-weight: bold;
    position: relative;
    background: linear-gradient(to right, rgba(114, 133, 90, 1), rgba(114, 133, 90, 0));
}

.topics__item:after, .news__item:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, lightgray, rgba(0, 0, 0, 0));;
}

.topics__item__link, .news__item__link {
    display: block;
    color: black;
    text-decoration: none;
}

.topics__item__link:hover, .news__item__link:hover {
    transform: scale(1.01);
    transition: 0.05s;
}

.advertisement {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.advertisement__banner {
    height: 200px;
    border: 1px solid black;
    text-align: center;
    line-height: 200px;
}